### Lambda function

In [1]:
# def square(n):
#     return n*n 

square = lambda x: x*x

print(square(5))

25

### join funtion

In [2]:
a = ["Harry", "Rohan", "Shubham"]

final = "::".join(a)
print(final)

Harry::Rohan::Shubham

### Format function

In [3]:
a = "{1} is a good {0}".format("harry", "boy")

print(a)

boy is a good harry

### Map,filter and reduce

In [4]:
from functools import reduce
# Map Example 
l = [1, 2, 3, 4, 5]

square = lambda x: x*x

sqList = map(square, l)
print(list(sqList))

# Filter Example
def even(n):
    if (n%2 == 0):
        return True 
    return False

onlyEven= filter(even, l)
print(list(onlyEven))

# Reduce Example
def sum(a, b):
    return a + b

mul = lambda x,y:x*y

print(reduce(sum, l))
print(reduce(mul, l))

[1, 4, 9, 16, 25]
[2, 4]
15
120

### 2. Write a program to input name, marks and phone number of a student and format it using the format function like below:
“The name of the student is Harry, his marks are 72 and phone number is 99999888”

In [5]:
name = input("Enter name: ")
marks = int(input("Enter marks: "))
phone = int(input("Phone number: "))

s = "The name of the student is {}, his marks are {} and phone number is {}".format(name, marks, phone)

print(s)

Enter name:  2
Enter marks:  34
Phone number:  234687654

The name of the student is 2, his marks are 34 and phone number is 234687654

### 3. A list contains the multiplication table of 7. write a program to convert it to vertical string of same numbers.

In [6]:
table = [str(7*i) for i in range(1, 11)]

s = "\n".join(table)
print(s)

7
14
21
28
35
42
49
56
63
70

### 4. Write a program to filter a list of numbers which are divisible by 5.

In [7]:
def divisible5(n):
    if(n%5 == 0):
        return True
    return False

a  = [1,2,34234,53,6234235,64343, 65,754,45,55]

f = list(filter(divisible5, a))
print(f)

[6234235, 65, 45, 55]

### 5. Write a program to find the maximum of the numbers in a list using the reduce function.

In [8]:
from functools import reduce
l  = [111, 2, 65, 5553, 635, 65, 74, 45,55]


def greater(a, b):
    if (a>b):
        return a 
    return b

print(reduce(greater, l))

5553

### Explore the ‘Flask’ module and create a web server using Flask & Python.

In [ ]:
from flask import Flask

app = Flask(__name__)

@app.route("/")
def hello_world():
    return "<p>Hello, World!</p>"

app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [29/Sep/2024 18:31:26] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2024 18:31:26] "GET /favicon.ico HTTP/1.1" 404 -