In [1]:
for i in range (5):
    print(i)

0
1
2
3
4

## While loop

In [3]:
i=1
while(i<6):
    print(i)
    i +=1
'''output:
1
2
3
4
5
'''

1
2
3
4
5

In [7]:
#list using while loop
l = [1,False,'Harry',True,'Jayesh']

i=0
while (i < len(l)):
    print(l[i])
    i += 1

1
False
Harry
True
Jayesh

## For loop

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
l = [1,False,'Harry',True,'Jayesh']
for i in l:
    print(i)

1
False
Harry
True
Jayesh

## For loop with else

In [13]:
l = [1,False,'Harry',True,'Jayesh']
for item in l:
    print(item)
else:
    print('Done') #printed when the list is exausted

1
False
Harry
True
Jayesh
Done

### break,continue and pass

In [18]:
for i in range(10):
    if (i==4):
        break # exit the loop right now 
    print(i)

0
1
2
3

In [19]:
for i in range(10):
    if (i==4):
        continue # skip this iteration 
    print(i)

0
1
2
3
5
6
7
8
9

In [20]:
for i in range(10):
    pass

for i in range(10):
    if (i==4):
        continue # skip this iteration 
    print(i)

0
1
2
3
5
6
7
8
9

### Write a program to print multiplication table of a given number using for loop

In [23]:
num = int(input('Enter number whose table you want : '))
for i in range(1,11):
    print(f'{num} X {i} = {num * i } ')

Enter number whose table you want :  3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [28]:
n = int(input("Enter any number : "))
i=1
while(i<11):
    print(f'{n} X {i} = {n*i}')
    i+=1

Enter any number :  3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

### Write a program to greet all the person names stored in a list ‘l’ and which starts
### with S.
### l = ["Harry", "Soham", "Sachin", "Rahul"]

In [25]:
l = ["Harry", "Soham", "Sachin", "Rahul"]

for i in l:
    if (i.startswith('S')):
        print("Good Morning,",i)

Good Morning, Soham
Good Morning, Sachin

### Write a program to find whether a given number is prime or not.

In [40]:
n = int(input("Enter any number : "))

for i in range(2,n):
    
    if (n%i==0) :

        print('Not a prime number')
        break
        
    # else:
    #     print('prime')

Enter any number :  8

Not a prime number

### Write a program to find the sum of first n natural numbers using while loop.

In [45]:
n = int(input("Enter any number : "))
sum=0
for i in range(0,n+1):
    sum += i 
print(sum)

Enter any number :  33

561

In [46]:
i = 0
sum=0
n=int(input("Enter any number : "))
while (i<=n):
    sum+=i
    i+=1
print(sum)

Enter any number :  33

561

### Write a program to calculate the factorial of a given number using for loop.

In [48]:
n = int(input('Enter any number : '))
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

Enter any number :  3

6

### Write a program to print the following star pattern.
     *
    ***
    ***** for n = 3

In [71]:
n = int (input('Enter any number : '))
for i in range(1,n+1):
    print(" " * (n-i),end="")
    print('*' * (2*i-1) ,end="") #end="" wont add this line
    print('') #to add new line

Enter any number :  5

    *
   ***
  *****
 *******
*********

### Write a program to print the following star pattern:
    *
    **
    *** for n = 3

In [73]:
n = int(input('Enter any number : '))
for i in range(1,n+1):
    print('*'*i)

Enter any number :  3

*
**
***

### Write a program to print the following star pattern.
    * * *
    *   * for n = 3
    * * *

In [83]:
n= int(input('Enter any number : '))
       
for i in range(1,n+1):
    if (i==1 or i==n):
        print('*'*n, end='')
    else:
        print('*',end='')
        print(' '*(n-2),end='')
        print('*',end='')
    print('')

Enter any number :  3

***
* *
***

### Write a program to print multiplication table of n using for loops in reversed order.

In [89]:
n = int(input("Enter any number : "))

for i in range(10,0,-1):
    print(f'{n} X {i} == {n*i}')

Enter any number :  3

3 X 10 == 30
3 X 9 == 27
3 X 8 == 24
3 X 7 == 21
3 X 6 == 18
3 X 5 == 15
3 X 4 == 12
3 X 3 == 9
3 X 2 == 6
3 X 1 == 3

In [90]:
n = int(input("Enter any number : "))
for i in range(1,11):
    print(f'{n} X {11-i} == {n*(11-i)}')

Enter any number :  3

3 X 10 == 30
3 X 9 == 27
3 X 8 == 24
3 X 7 == 21
3 X 6 == 18
3 X 5 == 15
3 X 4 == 12
3 X 3 == 9
3 X 2 == 6
3 X 1 == 3